{% extends "todo/base.html" %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1>Share your Experiences with your Dear Diary :)</h1><br><br>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Start Writing</a>
        </div>
    </div>

    <style>
        body{
            background-color: beige;
        }
    </style>

{% endblock %}


